.cart-container {
  display: inline;
  font-family: Arial, sans-serif;
}
.cart-item img {
  width: 80px;
  height: 60px;
  border-radius: 5px;
  margin-left: 10px;
}
.cart-item-info {
  flex: 1;
  justify-content: center;
  margin-left: 10px;
  align-items: flex-start;
}
.cart-item-name {
  flex: 2;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  align-items: flex-start;
}
.cart-item-details {
  align-items: flex-start;
}
.cart-item-variation {
  font-size: 12px;
  color: gray;
  align-items: flex-start;
  flex-direction: column;
}
.cart-item-total {
  font-size: 14px;
  font-weight: bold;
  color: #e63946;
  margin-right: -35%;
  flex: 2;
}
