.sortContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;  
  max-width: 1360px; 
  padding: 10px;
}


.sortDropdown {
  padding: 8px;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid #ddd;
  cursor: pointer;
  background-color: #2a2a2a;
  color: white;
}

.sortDropdown:hover {
  border-color: #ff4d4d;
}

.sortDropdown:focus {
  outline: none;
  border-color: #ff4d4d;
}
