
.container {
    display: flex;
    flex-direction: column;
}

.foodImage {
    position: relative;
    width: 500px; 
    height: 300px; 
    overflow: hidden;
    background-color: #f0f0f0; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 2px dashed #ccc; 
}

.foodImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.discountBadge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ff4d4d;
    color: white;
    padding: 17px 9px;
    border-radius: 100%;
    font-size: 14px;
    font-weight: bold;
}

.foodGallery {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    align-items: center;
    align-self: center;
}

.foodGallery img {
    width: 90px;
    height: 80px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    background-color: #f0f0f0;
}

.foodGallery img:hover {
    transform: scale(1.1);
}
.foodImage::before {
    content: "No Image Available";
    position: absolute;
    color: #888;
    font-size: 16px;
    font-weight: bold;
}
